<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joye.basedata">

    <uses-sdk tools:overrideLibrary="com.joye.basedata,rx.android,com.fernandocejas.frodo,com.orhanobut.logger"/>
    <application android:allowBackup="true" >

    </application>

</manifest>
